@import 'root.css';
@import 'componets/nav.css';

.container {
  display: grid;
}

.flexContainer {
  display: flex;
  background-color: #f4f4f4;
  padding: 5px;
}

.flexCol4 {
  flex-grow: 4;
}

ul {
  list-style: none;
  display: inline;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #f4f4f4;
}

#logo {
  display: block;
  width: 250px;
  height: 80px;
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.35s ease-in-out;
}
